<div class="mui-col-md-4">
  <div class="mui-panel">
    <h2>Links</h2>
    <ul class="about-links">
        <li><a href="/about/" class="mui-btn">About</a></li>
    </ul>
    <h2>Contact</h2>
    <ul class="about-links">
        {% if site.links.github %}
            <li><a href="https://github.com/{{ site.links.github }}" target="_blank" class="mui-btn"><i class="fa fa-github"></i>Github</a></li>
        {% endif %}
        {% if site.links.twitter %}
            <li><a href="https://twitter.com/{{ site.links.twitter }}" target="_blank" class="mui-btn "><i class="fa fa-twitter"></i>Twitter</a></li>
        {% endif %}
        {% if site.links.email %}
            <li><a href="mailto:{{ site.links.email }}" class="mui-btn"><i class="fa fa-envelope"></i>Mail</a></li>
        {% endif %}
       <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </ul>
  </div>
</div>
